<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit_card.name %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @credit_card.limit %>
</p>

<p>
  <strong>Close day:</strong>
  <%= @credit_card.close_day %>
</p>

<p>
  <strong>Pay day:</strong>
  <%= @credit_card.pay_day %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
